<h1>Home</h1>
<h2>Ruby on Rails challenge</h2>
<p>Ver a todos los usuarios: <span><%= link_to "Click aqui", "/users" %> </span></p>
<p>Ver toda la infousuarios: <span><%= link_to "Click aqui", "/infousers" %> </span></p>

